.box{
    width: 100px;
    height: 100px;
    background-color: aqua;
    
  
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
  height: 100%;
  width: 100%;
}